.head{
  background-color: blue;
  margin: 0px 5px;
}

body {
  background-color: green;
}
.Block1 {
  background-color: blue;
  margin: 0px 5px;

}
.Block2{
    background-color: white;
    margin: 0px 5px;
}
.Block3{
    background-color: blue;
    margin: 0px 5px;
}
.Block4{
    background-color: white;
    margin: 0px 5px;
}


