.head{
  Background-color: blue;
  margin: 0px 5px;
}

body {
  Background-color: green;
}
.Block1 {
  Background-color: blue;
  margin 0px 5px;

}
.Block2{
    Background-color: white;
    margin 0px 5px;
}
.Block3{
    Background-color: blue;
    margin 0px 5px;
}
.Block{
    Background-color: white;
    margin 0px 5px;
}


