.head{
  background-color: white;
  margin: auto;
  padding: 10px 10px;
}
body {
  background-color: green;
  margin: auto;
}


.Block1 {
  background-color: blue;
  margin: auto;
  padding: 10px 10px;

}
.Block2{
    background-color: white;
    margin: auto;
    padding: 10px 10px;
}
.Block3{
    background-color: blue;
    margin: auto;
    padding: 10px 10px;
}
.Block4{
    background-color: white;
    margin: auto;
    padding: 10px 10px;
}


